.backgroundforbackground{
    background-image: url("https://th.bing.com/th/id/OIP.W8apTKARTqVhmLzMCisNmAHaEs?pid=ImgDet&rs=1") !important;
    background-color: red !important;
}

::-webkit-scrollbar{
    display: none;
}

.modify{
    min-width: 94px !important;
    max-width: 94px !important;
}
.UserAvatarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.UserAvatarHeading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.UserAvatarlogo {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.name {
  font-size: 1.2rem;
}

.image {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #808080;
}

.LogOutButton {
  margin-top: 1rem;
  cursor: pointer;
  color: #007bff;
}

.LogOutButton:hover {
  text-decoration: underline;
}

.MuiTooltip-tooltip{
    margin-top: -1rem;
    background-color: green !important;
}
#footer{    margin-top: -0.5rem !important;
    margin-bottom: -2.5rem !important;

}
.nav-link-active{
    background-color: #ff8000;
    color: white;
}